@media(max-width:767px){
    .modal-dialog-right .modal-content {
        height: unset;
    }
    .sidebar.active .modal{
    overflow:scroll;
    }
    .paginationDown {
        overflow: auto;
    }
    .sidebar
    {
        right: -110%;
        display: none;
    }
    .popup-image
    {
        top: -203px;
        left: 75px;
    }
    .popup-content
    {
        height: 11rem;
    width: 23rem;
    align-items: flex-end;
    }
    



   .ReachResponsive
   {
    display: flex!important;
    flex-direction: column!important;
    place-content: center!important;
    align-items: center!important;
    width: 275px!important;
    margin: auto!important;
   }



   .table-responsive #scheduleTable th:nth-child(2), #scheduleTable td:nth-child(2), #scheduleTable th:first-child, #scheduleTable td:first-child {
    position: unset;
    left: 0;
    background-color: #fff;
    z-index: 2;
}
 
.table-responsive #scheduleTable thead th {
    position: unset;
    top: 0;
    z-index: 3;
    background-color: #fff;
}
 
 
#scheduleTable thead th:nth-child(2), #scheduleTable thead th:first-child {
     position: unset; 
    top: 0;
    background-color: #fff;
    z-index: 4;
}

.rtl .download-file
{
    transform: rotate(0deg);
}


.shadow {
    box-shadow: 1px 11px 15px #0000001a!important;
    margin-top: 40px;
}


.modal-header .close {
    margin:-1.1rem -3rem -3rem auto;

    }

    .documentclose
    {
        margin-bottom:43px;
    }

    .el-pagination {
    --el-pagination-button-width: 0px!important;
    }

.riskcrossresp
{
    margin: -4.1rem -1rem -3rem
 auto !important;
}


















}