.rtl .table th, .rtl .table td {
    text-align: right;
}

.rtl .greentext {
    display: inline-block;
}

.rtl .row.prog-bar {
    text-align: right;
}


.rtl .img-flip{

    transform: rotate(270deg);
    
    }
    
     
    
    .rtl img.w-15p {
    
    transform: rotate(270deg);
    
    }
    

    .rtl .img-fluid{
        transform: rotateY(180deg);
        }
    .rtl  .card-body p img.w-15p {
        transform: rotate(280deg);
    }
    
    .rtl p.mb-0.text-right.font-10 {
        text-align: left !important;
    }
    .rtl .table th, .rtl .table td {

        text-align: right;
    
    }
    .rtl .greentext {
     display: inline-block;
    }
    
     
    
    .rtl .row.prog-bar {
    
        text-align: right;
    
    }
    
     
    
     
    
    .rtl .img-flip{
    
     
    
        transform: rotate(270deg);
    
       
    
        }
    
       
    
         
    
       
    
        .rtl img.w-15p {
    
       
    
        transform: rotate(270deg);
    
       
    
        }
    
       
    
     
    
        .rtl .img-fluid{
    
            transform: rotateY(180deg);
    
            }

            .rtl .text-right {
                text-align: left !important;
             }  


             .rtl .backbuttonfix{
             
                z-index:10;
                margin-right: 15px;
             
                display: flex!important;
                justify-content: space-evenly;
             
             }

             .rtl .backbuttonfix div{
             
          
                margin-right: 10px;
              
             
             }

             /* .rtl .backbuttonfix a
             {
                margin-right: 13px;
                margin-left: 13px;
             } */


             .rtl .talktousrtl{
                margin-right: 15px;
             }

             .rtl .talktousrtl img{
                margin-right: 15px;
                transform: rotateY(180deg);
             }

             .rtl .el-icon
             {
                transform: rotateY(180deg);
             }


             .rtl .milestoneclose{
                margin: 0px!important;
             }

           
